<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="NutritionContext" connectionString="metadata=res://*/NutritionEntity.csdl|res://*/NutritionEntity.ssdl|res://*/NutritionEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=e7937d86-6022-482d-b445-a22a00ddc375.sqlserver.sequelizer.com;initial catalog=dbe7937d866022482db445a22a00ddc375;User ID=rmksklvmvvpcjzfq;Password=g22KgtmzeraJzi3VDxUhc5WpPeDXDgdoroJMKn5vq7LgAqdQ5XJ7keLkeL4cWw57;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>